<%- include('../layouts/header.ejs')%>

<div class="mt-n3">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a class="text-dark" href="/admin/products">Category</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="addProduct">Add-Category</li>
        </ol>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
         
        </div>
        <ul class="navbar-nav  justify-content-end">
         
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
              
              
              
            </ul>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sign In</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</div>


<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-secondary shadow-dark border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Add Category</h6>
          </div>
        </div>


        <div class="container mt-5">
          <h1>Add Category</h1>
          <form action="" method="post" >
              <!-- Product Name -->
              <div class="form-group">
                  <label for="categoryName">Category Name:</label>
                  <input type="text" class="form-control bg-light" id="categoryName" name="categoryName" required>
              </div>
        
              <!-- Description -->
              <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea class="form-control bg-light" id="description" name="description" rows="3" required></textarea>
              </div>
      
      
              <!-- Submit Button -->
              <button type="submit" class="btn btn-dark">Add Category</button>
              <% if(typeof smessage !=='undefined' ){ %>
                <div class="alert alert-success text-center text-white text-lg" role="alert">
                  <%= smessage %>
                </div>
                <% } %>
            
                <% if(typeof fmessage !=='undefined' ){ %>
                  <div class="alert alert-danger text-center text-white text-lg" role="alert">
                   <%= fmessage %> 
                  </div>
                  <% } %>
          </form>
        
        
            
        </div>


<%- include('../layouts/footer.ejs')%>