
<%- include('../layouts/header.ejs')%>



<style>
  #chart-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

</style>


<body class="g-sidenav-show bg-gray-200">
  <div class="container-fluid">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
          aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" 
          target="_blank">
          <img src="/img/favicon.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">Thrift Kicks</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-secondary" href="/admin/dashboard">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-store"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/salesReport">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-file"></i>
              </div>
              <span class="nav-link-text ms-1">Sales Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/users">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/products">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">view_in_ar</i>
              </div>
              <span class="nav-link-text ms-1">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/categories">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fa-solid fa-list"></i>
              </div>
              <span class="nav-link-text ms-1">Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/coupons">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-ticket"></i>
              </div>
              <span class="nav-link-text ms-1">Coupons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/admin/banners">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-newspaper"></i>
              </div>
              <span class="nav-link-text ms-1">Banners</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/admin/offers">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-percent"></i>
              </div>
              <span class="nav-link-text ms-1">Offers</span>
            </a>
          </li>  
          <hr class="horizontal light mt-0 mb-2">
          <li class="nav-item" >
            <a class="nav-link text-white " href="/admin/logout">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">assignment</i>
              </div>
              <span class="nav-link-text ms-1">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Dashboard</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav" onclick="toggleSidebar()">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
          
              <li class="nav-item">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav" onclick="toggleSidebar()">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
              
              <!-- ______________________________________________________________________ -->

              <li class="nav-item px-3 d-flex align-items-center">
                <!-- <a href="javascript:;" class="nav-link text-body p-0">
                  <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                </a> -->
              </li>
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <!-- <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell cursor-pointer"></i>
                </a> -->
                <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <!-- <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New message</span> from Laur
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            13 minutes ago
                          </p>
                        </div>
                      </div>
                    </a>
                  </li> -->
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <!-- <div class="my-auto">
                          <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                        </div> -->
                        <div class="d-flex flex-column justify-content-center">
                          <!-- <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New album</span> by Travis Scott
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            1 day
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex py-1">
                        <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                          <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>credit-card</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g transform="translate(1716.000000, 291.000000)">
                                  <g transform="translate(453.000000, 454.000000)">
                                    <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                    <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            Payment successfully completed
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            2 days
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
                  <i class="fa fa-user me-sm-1"></i>
                  <span class="d-sm-inline d-none">Sign In</span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  

      <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav" onclick="toggleSidebar()">
        </a>
      
    <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    
<!-- Newly added entire dashboard -->

    <div id="wrapper">
      <div class="content-area">
        <div class="container-fluid">
          <div class="text-right mt-3 mb-3 d-fixed">
          
          <div class="main">
            <div class="row sparkboxes mt-4 mb-4">
              <div class="col-md-4">
                <div class="box box1">
                  <h4>Total Sales</h4>
                  <div class="bg-gradient-info pt-5" id="spark1"></div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box box2">
                  <h4>Total Users</h4>
                  <div class="bg-gradient-success pt-5" id="spark2"></div>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="box box3">
                  <h4>Total Users</h4>
                  <div class="bg-gradient-warning pt-5 pr-2" id="spark3"></div>
                </div>
              </div> -->
            </div>

            <div class="row mt-5 mb-4">
              <div class="col-md-6">
                <div class="box">
                  <h4>Weekly Sales</h4>
                  <div id="bar"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <h4>Monthly Sales</h4>
                  <div id="monthBar"></div>
                </div>
              </div>
              <div class="col-md-6 mt-5">
                <div class="box">
                  <h4>Payment methods Chart</h4>
                  <div id="donut"></div>
                </div>
              </div>
              <div class="col-md-6 mt-5">
                <div class="box">
                  <h4>Category Sales Chart</h4>
                  <div id="chartOfCategory"></div>
                </div>
              </div>

            </div>

            <div class="row mt-4 mb-4">
              <div class="col-md-6">
                <div class="box">
                  <div id="area"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box">
                  <div id="line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
      
      function toggleSidebar() {
      const sidenavMain = document.getElementById('sidenav-main');
      sidenavMain.classList.toggle('collapsed');
    }
//--------------------------------------------------GRAPHS  FUNCTIions -----------------------------------------------------------

        Apex.grid = {
  padding: {
    right: 0,
    left: 0
  }
}

Apex.dataLabels = {
  enabled: false
}

var randomizeArray = function (arg) {
  var array = arg.slice();
  var currentIndex = array.length, temporaryValue, randomIndex;

  while (0 !== currentIndex) {

    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

// data for the sparklines that appear below header area
var sparklineData = [47, 45, 54, 38, 56, 24, 65, 31, 37, 39, 62, 51, 35, 41, 35, 27, 93, 53, 61, 27, 54, 43, 19, 46];

// the default colorPalette for this dashboard
var colorPalette = ['#01BFD6', '#5564BE', '#F7A600', '#EDCD24', '#F74F58'];
// var colorPalette = ['#00D8B6','#008FFB',  '#FEB019', '#FF4560', '#775DD0']




// ------------------------------------------------------------- TOTAL SALES ----------------------------------------------------------
var chart1;
async function loadTotalSalesData(){
  
    const response = await fetch('/admin/loadTotalSalesData',{
      method:'POST',
      headers:{
        "Content-Type":"application/json",
      },
    })
    const data = await response.json()
    if(data.totalSales){

      var spark1 = {
  chart: {
    id: 'sparkline1',
    group: 'sparklines',
    type: 'area',
    height: 160,
    sparkline: {
      enabled: true
    },
  },
  stroke: {
    curve: 'straight'
  },
  fill: {
    opacity: 1,
  },
  series: [{
    name: 'Sales',
    data: randomizeArray(sparklineData)
  }],
  labels: [...Array(24).keys()].map(n => `2018-09-0${n+1}`),
  yaxis: {
    min: 0
  },
  xaxis: {
    type: 'datetime',
  },
  colors: ['#DCE6EC'],
  title: {
    text: '₹ '+data.totalSales,
    offsetX: 30,
    style: {
      fontSize: '30px',
      cssClass: 'apexcharts-yaxis-title'
    }
  },
  subtitle: {
    offsetX: 30,
    style: {
      fontSize: '14px',
      cssClass: 'apexcharts-yaxis-title'
    }
  }
}

      // spark1.title.text = 

      if (!chart1) {
        chart1 = new ApexCharts(document.querySelector("#spark1"), spark1);
        chart1.render();
      } else {
        chart1.updateSeries([{
          data: randomizeArray(sparklineData)
        }]);
      }
    }
  }
  loadTotalSalesData()

// ------------------------------------------------------------- TOTAL SALES END----------------------------------------------------------




//---------------------------------------------------------Total Users Count start -----------------------------------------

async function loadUsersCountData(){
  try {
    const response = await fetch('/admin/totalUsersCount',{
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    const data = await response.json()
    if (data.userCount) {
      
            var spark2 = {
        chart: {
          id: 'sparkline2',
          group: 'sparklines',
          type: 'area',
          height: 160,
          sparkline: {
            enabled: true
          },
        },
        stroke: {
          curve: 'straight'
        },
        fill: {
          opacity: 1,
        },
        series: [{
          name: 'Expenses',
          data: randomizeArray(sparklineData)
        }],
        labels: [...Array(24).keys()].map(n => `2018-09-0${n+1}`),
        yaxis: {
          min: 0
        },
        xaxis: {
          type: 'datetime',
        },
        colors: ['#DCE6EC'],
        title: {
          text: data.userCount,
          offsetX: 30,
          style: {
            fontSize: '45px',
            cssClass: 'apexcharts-yaxis-title'
          }
        },
        subtitle: {
          // text: 'Total Users',
          offsetX: 30,
          style: {
            fontSize: '19px',
            cssClass: 'apexcharts-yaxis-title'
          }
        }
      }
      new ApexCharts(document.querySelector("#spark2"), spark2).render();
    }
    
  } catch (error) {
    console.log(error.message);
  }
}
loadUsersCountData()

//---------------------------------------------------------Total Users Count END -----------------------------------------






//---------------------------------------------------------Total Pending Orders start -----------------------------------------

async function loadPendingOrderCount(){
  try {
    const response = await fetch('/admin/pendingOrdersCount',{
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    const data = await response.json()
    if (data.userCount) {
      
            var spark2 = {
        chart: {
          id: 'sparkline2',
          group: 'sparklines',
          type: 'area',
          height: 160,
          sparkline: {
            enabled: true
          },
        },
        stroke: {
          curve: 'straight'
        },
        fill: {
          opacity: 1,
        },
        series: [{
          name: 'Expenses',
          data: randomizeArray(sparklineData)
        }],
        labels: [...Array(24).keys()].map(n => `2018-09-0${n+1}`),
        yaxis: {
          min: 0
        },
        xaxis: {
          type: 'datetime',
        },
        colors: ['#DCE6EC'],
        title: {
          text: data.userCount,
          offsetX: 30,
          style: {
            fontSize: '45px',
            cssClass: 'apexcharts-yaxis-title'
          }
        },
        subtitle: {
          // text: 'Total Users',
          offsetX: 30,
          style: {
            fontSize: '19px',
            cssClass: 'apexcharts-yaxis-title'
          }
        }
      }
      new ApexCharts(document.querySelector("#spark2"), spark2).render();
    }
    
  } catch (error) {
    console.log(error.message);
  }
}
// loadPendingOrderCount()

//---------------------------------------------------------Total Pending Orders END-----------------------------------------




   // ------------------------------------------------------------- WEEKLY SALES Start----------------------------------------------------------
    async function loadWeeklySales() {
  try {
    const response = await fetch('/admin/loadWeeklySales', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    });

    if (!response.ok) {
      throw new Error('Network response not ok');
    }

    const data = await response.json();

    if (data.weeklySales) {
      var seriesData = [
  {
    name: 'Total Sales',
    data: data.weeklySales.map(item => item.totalSales),
  },
  {
    name: 'Order Count',
    data: data.weeklySales.map(item => item.orderCount),
  },
];

var categories = data.weeklySales.map(item => item.dateRange);


var optionsBar = {
  chart: {
    type: 'bar',
    height: 380,
    width: '100%',
    stacked: false,
  },
  plotOptions: {
    bar: {
      columnWidth: '45%',
      horizontal: false,
    },
  },
  colors: ['#00D8B6', '#008FFB'],
  series: seriesData,
  xaxis: {
    categories: categories,
    labels: {
      show: true,
    },
    axisBorder: {
      show: false,
    },
    axisTicks: {
      show: false,
    },
  },
  yaxis: [
    {
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
      labels: {
        style: {
          colors: '#78909c',
        },
      },
      title: {
        text: 'Total Sales',
        style: {
          fontSize: '14px',
        },
      },
    },
    {
      opposite: true,
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
      labels: {
        style: {
          colors: '#FEB019',
        },
      },
      title: {
        text: 'Order Count',
        style: {
          fontSize: '14px',
        },
      },
    },
  ],
  title: {
    align: 'left',
    style: {
      fontSize: '18px',
    },
  },
};




      var chartBar = new ApexCharts(document.querySelector('#bar'), optionsBar);
      chartBar.render();
    } else {
      console.error('No weekly sales data found');
    }
  } catch (error) {
    console.error('Error:', error);
  }
}
loadWeeklySales();

// ------------------------------------------------------------- WEEKLY SALES END----------------------------------------------------------




// ------------------------------------------------------------- MONTHLY SALES START----------------------------------------------------------
  

async function loadMonthlySales() {
  try {
    const response = await fetch('/admin/loadMonthlySales', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    });

    if (!response.ok) {
      throw new Error('Network response was not ok');
    }

    const data = await response.json();

    if (data.monthlySales) {
      var seriesData = [
        {
          name: 'Total Sales',
          data: data.monthlySales.map(item => item.totalSales),
        },
        {
          name: 'Order Count',
          data: data.monthlySales.map(item => item.orderCount),
        },
      ];

      var categories = data.monthlySales.map(item => `${item.month} ${item.year}`);

      var optionsBar = {
        chart: {
          type: 'bar',
          height: 380,
          width: '100%',
          stacked: false,
        },
        plotOptions: {
          bar: {
            columnWidth: '45%',
            horizontal: false,
          },
        },
        colors: ['#00D8B6', '#008FFB'],
        series: seriesData,
        xaxis: {
          categories: categories,
          labels: {
            show: true,
          },
          axisBorder: {
            show: false,
          },
          axisTicks: {
            show: false,
          },
        },
        yaxis: [
          {
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
            labels: {
              style: {
                colors: '#78909c',
              },
            },
            title: {
              text: 'Total Sales',
              style: {
                fontSize: '14px',
              },
            },
          },
          {
            opposite: true,
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
            labels: {
              style: {
                colors: '#FEB019',
              },
            },
            title: {
              text: 'Order Count',
              style: {
                fontSize: '14px',
              },
            },
          },
        ],
        title: {
          align: 'left',
          style: {
            fontSize: '18px',
          },
        },
      };


      var chartBar = new ApexCharts(document.querySelector('#monthBar'), optionsBar);
      chartBar.render();
    } else {
      console.error('No monthly sales data found');
    }
  } catch (error) {
    console.error('Error:', error);
  }
}

loadMonthlySales();

  
// ------------------------------------------------------------- MONTHLY SALES END----------------------------------------------------------




// -------------------------------------------------------------  CATEGORY SALES START ----------------------------------------------------------

async function cetegoryGraphDataFn(){

  try {
    const response = await fetch('/admin/loadCategorySales',{
      method:'POST',
      headers:{
        "Content-Type":"application/json",
      },
    })
    const data = await response.json()
    if(data.categorySales){

      var labels = data.categorySales.map(item => item._id);
      var values = data.categorySales.map(item => item.totalSales);
      var salesCount = data.categorySales.map(item => item.salesCount);

var options = {
    chart: {
      type: 'bar',
      height: 350
    },
    series: [
      {
      name: 'Total Sales',
      data: values
    },
    {
        name: 'Sales Count',
        data: salesCount
      }
  ],
    xaxis: {
      categories: labels
    },
    yaxis: [
    {
        title: {
          text: 'Total Sales',
        },
      },
      {
        opposite: true,
        title: {
          text: 'Sales Count',
        },
      },
    ],
  };

  var chart = new ApexCharts(document.querySelector("#chartOfCategory"), options);
  chart.render();

    }
  } catch (error) {
  console.log(error.message);
    
  }
}
cetegoryGraphDataFn()

// -------------------------------------------------------------  CATEGORY SALES END ----------------------------------------------------------



// ---------------------------------------------------Payment Method Report Start-----------------------------------------------------------
async function loadPaymentMethods() {
  try {
    const response = await fetch('/admin/loadPaymentMethods', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    });

    if (!response.ok) {
      throw new Error('Network response was not ok');
    }

    const data = await response.json();

    if (data.paymentMethodCounts) {

  const relevantPaymentMethods = ['COD', 'Wallet', 'Net Banking'];
  const relevantData = data.paymentMethodCounts.filter(item => relevantPaymentMethods.includes(item._id));

  const chartData = relevantData.map(item => ({
    count: item.count,
    totalSales: item.totalSales,
  }));
  const chartLabels = relevantData.map(item => item._id);

  const updatedOptionDonut = {
    chart: {
      type: 'donut',
      width: '100%',
      height: 400,
    },
    dataLabels: {
      enabled: false,
    },
    plotOptions: {
      pie: {
        customScale: 0.8,
        donut: {
          size: '75%',
        },
        offsetY: 20,
      },
      stroke: {
        colors: undefined,
      },
    },
    colors: colorPalette,
    title: {
      style: {
        fontSize: '18px',
      },
    },
    series: chartData.map(item => item.count),
    labels: chartLabels,
    legend: {
      position: 'left',
      offsetY: 80,
    },
    tooltip: {
      enabled: true,
      y: {
        formatter: function (value) {
          const index = chartData.findIndex(item => item.count === value);
          const totalSales = chartData[index].totalSales;
          return `${value} (Total Sales: Rs ${totalSales} )`;
        },
      },
    },
  };

  var donut = new ApexCharts(document.querySelector("#donut"), updatedOptionDonut);
  donut.render();
}


  }catch{
    console.log(error.message);
  }
}
loadPaymentMethods()

// ---------------------------------------------------Payment Method Report End-----------------------------------------------------------



var spark3 = {
  chart: {
    id: 'sparkline3',
    group: 'sparklines',
    type: 'area',
    height: 160,
    sparkline: {
      enabled: true
    },
  },
  stroke: {
    curve: 'straight'
  },
  fill: {
    opacity: 1,
  },
  series: [{
    name: 'Profits',
    data: randomizeArray(sparklineData)
  }],
  labels: [...Array(24).keys()].map(n => `2018-09-0${n+1}`),
  xaxis: {
    type: 'datetime',
  },
  yaxis: {
    min: 0
  },
  colors: ['#008FFB'],
  //colors: ['#5564BE'],
  title: {
    text: '$135,965',
    offsetX: 30,
    style: {
      fontSize: '24px',
      cssClass: 'apexcharts-yaxis-title'
    }
  },
  subtitle: {
    text: 'Profits',
    offsetX: 30,
    style: {
      fontSize: '14px',
      cssClass: 'apexcharts-yaxis-title'
    }
  }
}


// new ApexCharts(document.querySelector("#spark3"), spark3).render();





// END---------END---------END---------END---------END---------END---------END---------END 




// var chartLine = new ApexCharts(document.querySelector('#line'), optionsLine);

// a small hack to extend height in website sample dashboard
chartLine.render().then(function () {
  var ifr = document.querySelector("#wrapper");
  if (ifr.contentDocument) {
    ifr.style.height = ifr.contentDocument.body.scrollHeight + 20 + 'px';
  }
});




</script>


    <%- include('../layouts/footer.ejs')%>

