<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Ecommerece UMS</title>



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>



  <!-- home page -->
  <link rel="stylesheet" href="/css/homePage/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/homePage/style.css" type="text/css">
  <link rel="stylesheet" href="/css/loginPage/login.css" type="text/css">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <link id="pagestyle" href="/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />

  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"></script>
<link rel="stylesheet" href="/css/admin.css">

</head>
<body>