


  /* @import url('https://fonts.googleapis.com/css2?family=Linefont:wght@100&family=Montserrat&family=Poppins:wght@200&family=Roboto+Slab:wght@300&family=Vollkorn&display=swap'); */


  /* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Mitr:wght@200;300;400;500&family=Open+Sans&display=swap'); */


  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Anonymous+Pro&family=Fira+Mono:wght@400;500;700&family=JetBrains+Mono:wght@200;400;500;600&family=Mitr:wght@200;300;400;500&family=Open+Sans&display=swap');

*{
  /* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Mitr', sans-serif;
font-family: 'Open Sans', sans-serif; */

font-family: 'Alegreya Sans', sans-serif;
font-family: 'Anonymous Pro', monospace;
font-family: 'Fira Mono', monospace;
font-family: 'JetBrains Mono', monospace;
font-family: 'Mitr', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.custom-button{
  width: 120px;
}


.addtocart-button{
  width: 200px;
  color: #434343;  
  margin-left: -3px;
  background-color:#bdbdbd;
  border-color: #bcbcbc;
  border-radius: 0px;
}
.addtocart-button:hover{
  color: #ffffff;
  background-color:#565655;
  border-color: rgb(0, 0, 0);
}
.buy-button{
  width: 200px;
  color: #ffffff;
}
.buy-button:hover{
  color: #000000;

}

.product-view{
  height:120px;
  width:120px;
}

.description-size{
  width: 350px;
}

 .logo-size{
  /* height:10px; */
  width: 250px;
} 
.logo-size-bgremoved{
  height:400px;
  width: 440px;
  margin-left: -100px;
  margin-top: -50px;

}

.msgHeight{
  height: 50px;
}




.zoom, .original {
  position: relative;
}

.zoom {
  display: inline-block;
}

.original {
  cursor: crosshair;
}

.zoomable-image {
  width: calc(var(--t) / 2);
}

.zoom .viewer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}
.zoom .viewer img {
  position: absolute;
}

.original:hover ~ div {
  display: block;
}

.original::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.magnifier {
  position: relative;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.magnifier, .viewer {
  display: none;
} 


* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.cart_image{
  height: 120px;
  width: 120px;
}
.imaage{
  border-radius: 1px;
}
.no_products_incart{
  height: 250px;
}

.quantity-selector {
  display: flex;
  align-items: center;
}

/* Style the input field */
#quantity {
  text-align: center;
  width: 40px;
}

/* Style the buttons to appear in a straight horizontal line */
.quantity-selector button {
  display: inline-block;
  margin: 0;
}

.cursor_cart{
  cursor: pointer;
}
.card-image:hover{
  filter:brightness(80%);
  transition: 0.3s;
}

.round-delete-button {
  cursor: pointer;
}
.round-delete-button:hover{
  filter:brightness(95%)
}


.click, .popup_box{
  position: absolute;
  top: 50%;
  left: 50%;
 
}
.click{
  background: #2981bc;
  color: white;
  font-size: 22px;
  font-family: arial;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #0059b3;
}
.popup_box{
  width: 400px;
  background: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 40px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  z-index: 9999;
  display: none;
}
.popup_box i{
  font-size: 60px;
  color: #eb9447;
  border: 5px solid #eb9447;
  padding: 20px 40px;
  border-radius: 50%;
  margin: -10px 0 20px 0;
}
.popup_box h1{
  font-size: 30px;
  color: #1b2631;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 23px;
  color: #404040;
}
.popup_box .btns{
  margin: 40px 0 0 0;
}
.btns .btn1, .btns .btn2{
  background: #999999;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 10px 13px;
}
.btns .btn2{
  margin-left: 20px;
  background: #ff3333;
  border: 1px solid #cc0000;
}
.btns .btn1:hover{
  transition: .5s;
  background: #8c8c8c;
}
.btns .btn2:hover{
  transition: .5s;
  background: #e60000;
}

.otp-container{
  display: flex;
  justify-content: center;
 
}

.otp-holder{
  height: 40px;
  width: 400px;
  background-color: #3f3d3d;
  color: white;
  font-weight: 800;
}
.otp-button{
  background-color: #555252;
  color: white;
}

.verif-message{
  width: 400px;
  color: white;
  height: 55px;
}




/* zoom feature css */

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 95%;
  height: 60%;
}

section.product-img{
  position: relative;
  width: 40%;
}
section.product-img img{
  width: 100%;
  height: auto;
}
section.product-details{
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title{
  font: 600 1.4rem sans-serif;
}

.magnifier-lens{
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: #ff980030;
border: .1px solid var(--orange);
}

.magnified-img{
  position: absolute;
  width: 100%;
  height: 100%;

}


/* User Profile */

.ui-w-80 {
  width : 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(24, 28, 33, 0.1);
  background  : rgba(0, 0, 0, 0);
  color       : #4E5155;
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background  : transparent;
  color       : #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background  : #3B5998;
  color       : #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background  : #000;
  color       : #fff;
}

.card {
  background-clip: padding-box;
  box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position  : absolute;
  visibility: hidden;
  width     : 1px;
  height    : 1px;
  opacity   : 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect~.select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}


/* Address Body Css */
.addressCell{
  border-radius: 0px;
}
/* check box custom address */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff;
}


/* radio button */
.small-radio input[type="radio"] {
    width: 15px; /* Adjust the width */
    height: 15px; /* Adjust the height */
  }

    /* Style for the custom radio button */
    .custom-radio {
      display: inline-flex;
      align-items: center;

    }
    
    .custom-radio input[type="radio"] {

      margin-right: 25px; /* Adjust the spacing between the span and the radio button */
      width: 14px; /* Set the width of the radio button */
      height: 23px; /* Set the height of the radio button */
      appearance: none; /* Remove default styles */
      border: 1px solid #797777; /* Set border color */
      border-radius: 50%; /* Make it a circle */
      outline: none; /* Remove outline on focus */
      transition: 0.3s; /* Add a smooth transition effect */
    }
    
    .custom-radio input[type="radio"]:checked {
      background-color: #153143; /* Set background color when checked */
    }

    .radioAdjust{
      vertical-align: 20px;
    }

    .hrline {
      flex-grow: 1; /* Expand the horizontal line to fill the available space */
      border: none;
      border-top: 2px solid #4d4c4c; /* Adjust the color and style of the horizontal line */
      margin: 0 5px; /* Adjust the spacing around the horizontal line */
  }

  
/* Cart icon */
  
  .cart-icon {
    position: relative;
    cursor: pointer;
    
  }
  
  .fa-shopping-cart {
    font-size: 23px;
    vertical-align: -2px;
  }
  

  @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  .badge {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: red;
      color: white;
      border-radius: 50%;
      padding: 4px 8px;
      font-size: 12px;
      
  }
  .jumping{
    animation: jump 0.6s ease 1;
  }


  /* //delete and view order details button */
  .orderBtn{
      width: 200px;
  }
  

  /* prduct page admin css */
.imagePreview{
  height: 200px;
  width: 200px;
}
  
/* Css for wishlist icon hover  */

.hoverable {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.icon {
  position: absolute;
  top: 12%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
  font-size: 28px;
}

.hoverable:hover .icon {
  opacity: 1;
  cursor: pointer;

}

.icon:hover{
  color: rgb(148, 145, 145);
}

/* Add this CSS to your stylesheet */
.hoverable:hover .card-image {
  filter: brightness(80%);
  transition: filter 0.3s ease; /* Adjust duration and timing function as needed */
}

.wishlistIcon:hover + a .card-image {
  filter: brightness(80%);
  transition: filter 0.3s ease; /* Adjust duration and timing function as needed */
}

.txt-ind{
  text-indent: 20px;
background-color: #ffffff;  
  
}

.txt-ind::placeholder {
  color: rgb(62, 61, 61);
}

