


  @import url('https://fonts.googleapis.com/css2?family=Linefont:wght@100&family=Montserrat&family=Poppins:wght@200&family=Roboto+Slab:wght@300&family=Vollkorn&display=swap');

*{
  font-family: Montserrat;
}

.custom-button{
  width: 120px;
}


.addtocart-button{
  width: 230px;
  color: #212529;  

  background-color:#d2c814;
  border-color: #d2c814;
}
.addtocart-button:hover{
  color: #ffffff;
  background-color:#ece117;
  border-color: #ece117;
}
.buy-button{
  width: 230px;
  color: #ffffff;
}
.buy-button:hover{
  color: #000000;

}

.product-view{
  height:120px;
  width:120px;
}

.description-size{
  width: 350px;
}

.logo-size{
  height:250px;
  width: 250px;
}

.msgHeight{
  height: 50px;
}




.zoom, .original {
  position: relative;
}

.zoom {
  display: inline-block;
}

.original {
  cursor: crosshair;
}

.zoomable-image {
  width: calc(var(--t) / 2);
}


.zoom .viewer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}
.zoom .viewer img {
  position: absolute;
}

.original:hover ~ div {
  display: block;
}

.original::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.magnifier {
  position: relative;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.magnifier, .viewer {
  display: none;
} 

/* .xzoom_part{
  padding-top: 50px;;
}

.xzoom_container{
  margin: 0px 10px;
}

.xzoom-thumbs{
  margin: 10px 0;
}

.xzoom{
  height: 450px;
  width: 100%;
  box-shadow: 1px 4px 8px #aaa;
}

.xzoom-gallery{
  border: 1px solid #eee;
}

.xzoom-gallery:hover{
  border:1px solid #378bbf;
}

.xzoom-lens{
  cursor: zoom-in;
} */

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}