


  @import url('https://fonts.googleapis.com/css2?family=Linefont:wght@100&family=Montserrat&family=Poppins:wght@200&family=Roboto+Slab:wght@300&family=Vollkorn&display=swap');

*{
  font-family: Montserrat;
}

.custom-button{
  width: 120px;
}


.addtocart-button{
  width: 200px;
  color: #212529;  

  background-color:#d2c814;
  border-color: #d2c814;
}
.addtocart-button:hover{
  color: #ffffff;
  background-color:#ece117;
  border-color: #ece117;
}
.buy-button{
  width: 200px;
  color: #ffffff;
}
.buy-button:hover{
  color: #000000;

}

.product-view{
  height:120px;
  width:120px;
}

.description-size{
  width: 350px;
}

.logo-size{
  height:250px;
  width: 250px;
}
.logo-size-bgremoved{
  height:300px;
  width: 440px;
  margin-left: -100px;
  margin-top: -50px;

}

.msgHeight{
  height: 50px;
}




.zoom, .original {
  position: relative;
}

.zoom {
  display: inline-block;
}

.original {
  cursor: crosshair;
}

.zoomable-image {
  width: calc(var(--t) / 2);
}


.zoom .viewer {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}
.zoom .viewer img {
  position: absolute;
}

.original:hover ~ div {
  display: block;
}

.original::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.magnifier {
  position: relative;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.magnifier, .viewer {
  display: none;
} 


* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.cart_image{
  height: 180px;
  width: 180px;
}
.imaage{
  border-radius: 10px;
}
.no_products_incart{
  height: 250px;
}

.quantity-selector {
  display: flex;
  align-items: center;
}

/* Style the input field */
#quantity {
  text-align: center;
  width: 40px;
}

/* Style the buttons to appear in a straight horizontal line */
.quantity-selector button {
  display: inline-block;
  margin: 0;
}

.cursor_cart{
  cursor: pointer;
}
.card-image:hover{
  filter:brightness(110%)
}

.round-delete-button {
  cursor: pointer;
}
.round-delete-button:hover{
  filter:brightness(95%)
}


.click, .popup_box{
  position: absolute;
  top: 50%;
  left: 50%;
 
}
.click{
  background: #2981bc;
  color: white;
  font-size: 22px;
  font-family: arial;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #0059b3;
}
.popup_box{
  width: 400px;
  background: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 40px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  z-index: 9999;
  display: none;
}
.popup_box i{
  font-size: 60px;
  color: #eb9447;
  border: 5px solid #eb9447;
  padding: 20px 40px;
  border-radius: 50%;
  margin: -10px 0 20px 0;
}
.popup_box h1{
  font-size: 30px;
  color: #1b2631;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 23px;
  color: #404040;
}
.popup_box .btns{
  margin: 40px 0 0 0;
}
.btns .btn1, .btns .btn2{
  background: #999999;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 10px 13px;
}
.btns .btn2{
  margin-left: 20px;
  background: #ff3333;
  border: 1px solid #cc0000;
}
.btns .btn1:hover{
  transition: .5s;
  background: #8c8c8c;
}
.btns .btn2:hover{
  transition: .5s;
  background: #e60000;
}

.otp-container{
  display: flex;
  justify-content: center;
 
}

.otp-holder{
  height: 40px;
  width: 400px;
  background-color: #3f3d3d;
  color: white;
  font-weight: 800;
}
.otp-button{
  background-color: #555252;
  color: white;
}

.verif-message{
  width: 400px;
  color: white;
  height: 55px;
}