<%- include('../layouts/header.ejs')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />

    
<section class="overflow-hidden bodyoflogin d-flex justify-content-center align-items-center">
  <style>
    body {
      overflow-y: hidden;
    }
  </style>
  <div class="container-fluid px-4 py-5 text-center text-lg-start my-5 ">
      <div class="row gx-0 align-items-center mb-5 d-flex justify-content-center align-items-center">
          <div class="col-lg-4 mb-5 mb-lg-0 position-relative">
              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

              <div class="card">
                  <div class="card-body px-4 py-5 px-md-5">
                      <form action="/login" method="post">
                          <% if (typeof message !=='undefined' ) { %>
                              <p class="alert alert-danger text-white mb-3">
                                  <%= message %>
                              </p>
                          <% } %>

                          <% if (typeof verif_message !=='undefined' ) { %>
                              <p class="alert alert-danger text-white mb-3 text-center">
                                  <%= verif_message %>&nbsp;&nbsp;&nbsp;<a class="text-light text-decoration-underline text-white" href="/resendOtp">Verify now</a>
                              </p>
                          <% } %>

                          <!-- Email input -->
                          <div class="form-outline mb-4">
                              <input class="form-control bg-creme txt-ind" type="email" id="email" name="email" required />
                              <label class="form-label text-black" for="email">Email address</label>
                          </div>

                          <!-- Password input -->
                          <div class="form-outline">
                              <input class="form-control bg-creme txt-ind" type="password" id="password" name="password" required />
                              <label class="form-label text-black" for="password">Password</label>
                          </div>
                <!-- Google authentication -->
                          <div class="container login-container">
                            
                                <div class="card-content">
                                    <div class="section" style="text-align: center;">
                                        <a href="/auth/google" class="btn blue darken-1">
                                            <i class="fab fa-google right"></i> Log In With Google
                                        </a>
                                    </div>
                                </div>
                            
                        </div>
                <!-- Google authentication -->
                

                          <!-- Submit button -->
                          <div class="d-grid gap-2">
                              <button class="primary-btn mb-3" type="submit">Login</button>
                              
                                  <span class="text-black txt-lg d-flex justify-content-center align-items-center"><a class="text-hover-effect text-decoration-underline" href="/forgotPassword">

                                  Forgot password? </a></span>
                          </div>
                      </form>

                      <div class="d-flex justify-content-center align-items-center mt-3">
                          <span class="text-black txt-lg">New user?
                              <a class="text-hover-effect text-decoration-underline" href="/register"> Signup here</a>
                          </span>
                      </div>
                      <div>&nbsp;</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

  <!-- Section: Design Block -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <%- include('../layouts/footer.ejs')%>