<%- include('../layouts/header.ejs')%>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                   
                </div>


            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <div class="container-fluid" style="position: relative;">
      <img src="/assets/userside_images/Orderplaced.png" style="height: 680px; width: 1500px;" alt="Order placed">
  
      <div style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
         <a href="/myOrders"> <button id="ViewOrder" type="button" class="site-btn mr-3">View Order</button> </a>
         <a href="/home"> <button id="ViewOrder" type="button" class="site-btn">Continue Shopping</button> </a>

      </div>
  </div>



    <%- include('../layouts/footer.ejs')%>