
<%- include('../layouts/header.ejs')%>
<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-7">
                  <div class="header__top__left">
                      <p>Free shipping, 30-day return or refund guarantee.</p>
                  </div>
              </div>
              <div class="col-lg-6 col-md-5">
                  <div class="header__top__right">
                      
                   
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a class="navbar-brand logo-size" href="/home"><img src="assets/logos/thriftedkicks.png" alt="Thriffy" /></a>
          </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <nav class="header__menu mobile-menu">
                  <ul>
                      <li><a href="/home">Home</a></li>
                      <li class="active"><a href="/shop">Shop</a></li>
                      <li><a href="#">About Us</a></li>

                      <% if(typeof user !=='undefined' ) { %>
                              <li><a href="/account">Account</a></li>
                              <% } else { %>
                                  <li><a href="/login">SignIn</a></li>
                                  <% } %>


                                      <li>
                                          <% if(typeof user !=='undefined' ) { %>
                                              <a id="" href="/cart">Cart <img src="assets/icon/cart.png" alt="" /></a>
                                              <% } else { %>
                                                  <a id="cartButton">Cart <img src="assets/icon/cart.png"
                                                          alt="" /></a>
                                                  <% } %>
                                      </li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3 col-md-3">
              <div class="header__nav__option">
                  <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                  <a href="#"><img src="img/icon/heart.png" alt=""></a>
                  <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                  <div class="price">$0.00</div>
              </div>
          </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
<!-- Header Section End -->


  <style>
    
    
    .prod-image{
      width: 500px;
      height: 500px;
      border: 1px solid #000;
      background: url(/images/1699005205871.jpg);
      background-size: 100% 100%;
      position: absolute;
      overflow: hidden;
  
    }
    #first{
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
      border: none;
    }
    #first:hover + #second{
      display: block;
    }
    #second{
      background-size: 600% 600%;
      top: 50%;
      left: 53%;
      transform: translateY(-50%);
      display: none;
    }
  
    #lens{
      width: 150px;
      height: 150px;
      background: rgba(0, 0, 0, .4);
      position: absolute;
      border: 3px solid #00b050;
      transform: translate(-50% , -50%);
      pointer-events: none;
      display: none;
    }
  </style>
  
  

  <div id="first" class="prod-image mt-10">
    <span id="lens"></span>
  </div>

  <div id="second" class="prod-image mt-10">
  </div>

  


<script type="text/javascript">

  var lens = document.getElementById('lens')
  var first = document.getElementById('first')
  var second = document.getElementById('second')

  first.addEventListener('mousemove', function (e) {
  var rect = first.getBoundingClientRect();
  var x = e.clientX - rect.left; // Adjusted to use the position relative to the viewport
  var y = e.clientY - rect.top; // Adjusted to use the position relative to the viewport

  lens.style.display = 'block';
  lens.style.left = x + 'px';
  lens.style.top = y + 'px';

  // Adjusted background position calculation
  second.style.backgroundPosition = -x * 5 + 'px ' + -y * 5 + 'px';

  })

  first.addEventListener('mouseout',function(){

    lens.style.display = "none";

  })
</script>

<%- include('../layouts/footer.ejs')%>



